

.btn
{
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	color: darkblue;
    margin-bottom: 5%;
}

.btn:hover
{
	background: darkblue;
	color: white;
	cursor: pointer;
}

.z-index-1
{
	z-index: 1;
}
